modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["sqlite-interactive", "psmisc", "imagemagick_light", "lsof", "tree"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8080
externalPort = 80
